a {
    text-decoration: none !important;
}
.sidebar {
    min-height: 1000px;
    min-width: 100%;
    max-height: 100%;
}

.logo-sidebar{
    padding: 10%;
    margin: 0;
}

.logo-sidebar-img{
    min-width: 160px;
    min-height: 160px;
    max-height: 180px;
    max-width: 180px;
}
.content {
    min-height: 500px;
    background-color: rgb(133, 133, 255)    ;
}

.cst-btn {
    min-width: 100px;
    border: none;
}
.custom-btn{
    list-style: none;
    color: white !important;
}

.custom-btn:hover{
    background-color: rgb(133, 133, 255);
}

.option {
    min-width: 300px;
    text-align: left;
    border: none;
    padding: 10px;
    margin: 10px;
    font-size: 22px;
    background-color: grey;
    color: white;
}